@charset "utf-8";

/*----------------------------------------------
   [Table Of Content]
------------------------------------

#. Typography & TopBar
#. Hero Slider
#. About Style
#. Services Style
#. Portfolio Style
#. Resume Style
#. Skills Style
#. Team Style
#. Pricing Style
#. News Style
#. Contact Style
#. Footer Style
#. Vfx Loader Style

------------------------------------------------------------------- */

/*----------------------------------------------
 Typography & TopBar
----------------------------------------------*/

html {
	overflow-x: hidden;
	padding: 0px;
	margin: 0px
}
body {
	font-family: 'Nunito', sans-serif;
	font-size: 16px;
	line-height: 1.8;
	letter-spacing: 0.3px;
	word-wrap: break-word;
	font-weight: 400;
	background-color: #020312;
	color: #e0e0e0;
}
.utf_aarlin_topbar {
	width: 100%;
	height: auto;
	clear: both;
	float: left;
	position: fixed;
	top: 0px;
	left: 0px;
	z-index: 10;
}
.utf_aarlin_topbar.animate .mainpart {
	background-color: #020312;
	box-shadow:0 2px 28px 0 rgba(255, 255, 255, 0.15);
}
.utf_aarlin_topbar .mainpart {
	width: 100%;
	height: auto;
	clear: both;
	float: left;
	padding: 18px 0px;
}
.utf_aarlin_topbar .inner {
	width: 100%;
	height: auto;
	clear: both;
	float: left;
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.utf_aarlin_topbar .logo {
	width: auto;
}
.utf_aarlin_topbar .menu ul {
	margin: 0px;
	list-style-type: none;
}
.utf_aarlin_topbar .menu ul li {
	margin: 0px 25px 0px 0px;
	float: left;
}
.utf_aarlin_topbar .menu ul li:last-child {
	margin-right: 0px;
}
.utf_aarlin_topbar .menu ul li a {
	text-decoration: none;
	color: #fff;
	font-family: "Saira";
	font-weight: 500;
	text-transform:uppercase;
	-webkit-transition: all .3s ease;
	-moz-transition: all .3s ease;
	-ms-transition: all .3s ease;
	-o-transition: all .3s ease;
	transition: all .3s ease;
}
.utf_aarlin_topbar .menu ul li a:hover {
	color: #d6040b;
}
.utf_aarlin_topbar .dropdown {
	width: 100%;
	height: auto;
	clear: both;
	float: left;
	background-color: #07081f;
	display: none;
}
.utf_aarlin_topbar .dropdown .main {
	width: 100%;
	height: auto;
	clear: both;
	float: left;
	padding:10px 0;
}
.utf_aarlin_topbar .dropdown .main ul {
	margin: 0px;
	list-style-type: none;
}
.utf_aarlin_topbar .dropdown .main ul li {
	margin: 0px;
	width: 100%;
	float: left;
}
.utf_aarlin_topbar .dropdown .main ul li a {
	text-decoration: none;
	color: #fff;
	font-weight: 500;
	font-family: "Saira";
	display: inline-block;
	padding-bottom: 0px;
	background: rgba(255, 255, 255, 0.2);
	margin-bottom: 2px;
	width:100%;
	padding: 6px 10px;
	border-radius: 2px;
}
.utf_aarlin_topbar .trigger {
	display: none;
}
.utf_aarlin_topbar .trigger .menu {
	display: block;
}
.utf_aarlin_topbar .trigger .menu.opened {
	display: none;
}
.utf_aarlin_topbar .trigger .close {
	display: none;
}
.utf_aarlin_topbar .trigger .close.opened {
	display: block;
}
.utf_aarlin_topbar .trigger a {
	text-decoration: none;
	color: #fff;
	font-family: "Saira";
	font-weight: 500;
}
.utf_aarlin_topbar .trigger a i{
	font-size: 28px;
	line-height: 38px;
	height: 40px;
	width: 40px;
	display: inline-block;
	text-align: center;
}

/*----------------------------------------------
 Hero
----------------------------------------------*/

.utf_aarlin_hero_wrap {
	width: 100%;
	position: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	transform: scale(1);
	opacity: 1;
}
.utf_aarlin_hero_wrap .overlay {
	position: absolute;
	top: 0px;
	bottom: 0px;
	left: 0px;
	right: 0px;
	background-color: rgba(2,3,18,.3);
	z-index: 1;
}
.utf_aarlin_hero_wrap .container {
	height: 100%;
}
.utf_aarlin_hero_wrap .hero_texts {
	position: absolute;
	z-index: 2;
	top: 50%;
	transform: translateY(-50%);
	-webkit-transition: 1.5s ease-in-out;
	-o-transition: 1.5s ease-in-out;
	transition: 1.5s ease-in-out;
}
.utf_aarlin_hero_wrap .hero_texts h3 {
	color: #d6040b;
	text-transform: uppercase;
	font-size: 60px;
	font-weight: 700;
	margin-bottom: 2px;
	position: relative;
}
.utf_aarlin_hero_wrap .hero_texts .subtitle {
	color: #e0e0e0;
	text-transform: capitalize;
	font-size: 18px;
	font-weight: 500;
	font-family: "Saira";
	margin-top: 1.2rem;    
	max-width: 700px;
	display:inline-block;	
}
.utf_aarlin_hero_wrap .hero_texts .typed-subtitle {
	color: #ffffff;
	text-transform: uppercase;
	font-size: 26px;
	font-weight: 700;
	font-family: "Saira";
}
.utf_aarlin_down {
	position: absolute;
	z-index: 7;
	bottom: 60px;
	left:0;
	right:0;
}
.utf_aarlin_down .line_wrapper {
	position: absolute;
	width: 5px;
	height: 100%;
	left: 0;
	right: 0;
	margin: 0px auto;
	opacity: 1;
	filter: alpha(opacity=100);
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	visibility: visible;
	-webkit-transition: all .7s;
	-moz-transition: all .7s;
	-ms-transition: all .7s;
	-o-transition: all .7s;
	transition: all .7s;
}
.utf_aarlin_down .line_wrapper {
	width: 5px;
	height: 70px;
	background: none;
	display: block;
}
.utf_aarlin_down .line_wrapper:before {
	content: "";
	background-color: #fff;
	width: 5px;
	height: 50%;
	display: block;
	border-radius:50px;
	top: 0;
	-webkit-animation: scroll-down 2s ease-in-out infinite;
	-ms-animation: scroll-down 2s ease-in-out infinite;
	animation: scroll-down 2s ease-in-out infinite;
	;
}
 @-webkit-keyframes scroll-down {
 0% {
 height: 0;
}
 50% {
 height: 100%;
}
 70% {
 height: 100%;
 transform: scaleY(0.5);
 transform-origin: bottom;
}
 100% {
 height: 100%;
 transform: scaleY(0);
 transform-origin: bottom;
}
}

/*----------------------------------------------
 About
----------------------------------------------*/

.utf_aarlin_about_wrap {
	width: 100%;
	height: auto;
	clear: both;
	float: left;
	padding-top: 100px;
}
.utf_aarlin_about_wrap .about_inner {
	width: 100%;
	height: auto;
	clear: both;
	float: left;
	display: flex;
}
.utf_aarlin_about_wrap .about_inner .leftpart {
	width: 45%;
	height: auto;
	padding-right: 50px;
}
.utf_aarlin_about_wrap .about_inner .leftpart .image {
	position: relative;
}
.utf_aarlin_about_wrap .about_inner .leftpart .image {
	position: relative;
}
.utf_aarlin_about_wrap .about_inner .leftpart .image img {
	min-width: 100%;
}
.utf_aarlin_about_wrap .about_inner .leftpart .image .main {
	position: absolute;
	top: 0px;
	bottom: 0px;
	left: 0px;
	right: 0px;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}
.utf_aarlin_about_wrap .about_inner .rightpart {
	width: 55%;
	height: auto;
}
.utf_aarlin_about_wrap .about_inner .rightpart .about_title {
	width: 100%;
	height: auto;
	float: left;
	margin-bottom: 30px;
}
.utf_aarlin_about_wrap .about_inner .rightpart .about_title .title {
	color: #d6040b;
	text-transform: uppercase;
	font-size: 17px;
	font-weight: 700;
	position: relative;
	padding-left: 25px;
	margin-bottom: 2px;
	display: inline-block;
	font-family: "Saira";
}
.utf_aarlin_about_wrap .about_inner .rightpart .about_title .title:before {
	position: absolute;
	content: "";
	width: 15px;
	height: 4px;
	border-radius:20px;
	background-color: #d6040b;
	top: 50%;
	transform: translateY(-50%);
	left: 0px;
}
.utf_aarlin_about_wrap .about_inner .rightpart .about_title .title:after {
	position: absolute;
	content: "";
	width: 15px;
	height: 4px;
	border-radius:20px;
	background-color: #d6040b;
	top: 50%;
	transform: translateY(-50%);
	right: -23px;
}
.utf_aarlin_about_wrap .about_inner .rightpart .about_title h3 {
	color: #fff;
	text-transform: uppercase;
	font-size: 35px;
	font-weight: 600;
	margin-bottom: 5px;
}
.utf_aarlin_about_wrap .about_inner .rightpart .about_title h3 span {
	color: #d6040b;
}
.utf_aarlin_about_wrap .about_inner .rightpart .text {
	width: 100%;
	height: auto;
	float: left;
	margin-bottom: 17px;
}
.utf_aarlin_about_wrap .about_inner .rightpart .text p {
	color: #e0e0e0;
	margin-bottom: 18px;
}
.utf_aarlin_skills_wrap .skills_inner .left p {
	margin-bottom: 18px;
}
.utf_aarlin_about_wrap .about_inner .rightpart .text p:last-child {
	margin-bottom: 0px;
}
.utf_aarlin_about_wrap .about_inner .rightpart .info_list {
	width: 100%;
	height: auto;
	clear: both;
	float: left;
	margin-bottom: 25px;
}
.utf_aarlin_about_wrap .about_inner .rightpart .info_list ul {
	margin: 0px;
	list-style-type: none;
}
.utf_aarlin_about_wrap .about_inner .rightpart .info_list ul li {
	margin: 0px;
	width: 50%;
	float: left;
	margin-bottom:5px;
}
.utf_aarlin_about_wrap .about_inner .rightpart .info_list ul li .left {
	min-width: 90px;
	display: inline-block;
	color: #fff;
	font-weight: 500;
}
.utf_aarlin_about_wrap .about_inner .rightpart .info_list ul li .right a {
	text-decoration: none;
	color: #e0e0e0;
	-webkit-transition: all .3s ease;
	-moz-transition: all .3s ease;
	-ms-transition: all .3s ease;
	-o-transition: all .3s ease;
	transition: all .3s ease;
}
.utf_aarlin_about_wrap .about_inner .rightpart .info_list ul li .right a:hover {
	color: #fff;
}
.utf_aarlin_button {
	width: 100%;
	height: auto;
	clear: both;
	float: left;
}
.utf_aarlin_button a {
	text-decoration: none;
	color: #fff;
	display: inline-block;
	background: -webkit-linear-gradient(45deg, #d6040b 15%, #e01545 65%);
	background: linear-gradient(45deg, #d6040b 15%, #e01545 65%);
	font-weight: 500;
	text-transform:uppercase;
	padding: 8px 25px;
	border-radius: 4px;
	font-family: "Saira";
}
.utf_aarlin_button a:hover{
	background: -webkit-linear-gradient(45deg, #e01545 15%, #d6040b 65%);
	background: linear-gradient(45deg, #d6040b 15%, #d6040bx 65%);	
}
.utf_aarlin_button a i{
	margin-left:0.5rem;
}

/*----------------------------------------------
 Services
----------------------------------------------*/

.utf_aarlin_services_wrap {
	width: 100%;
	height: auto;
	clear: both;
	float: left;
}
.utf_aarlin_title_holder {
	width: 100%;
	height: auto;
	clear: both;
	float: left;
	text-align: center;
}
.utf_aarlin_title_holder .title {
	color: #d6040b;
	text-transform: uppercase;
	font-size: 17px;
	font-weight: 700;
	position: relative;
	padding-left: 0px;
	margin-bottom: 2px;
	display: inline-block;
	font-family: "Saira";
}
.utf_aarlin_title_holder .title:before {
	position: absolute;
	content: "";
	width: 15px;
	height: 4px;
	border-radius: 20px;
	background-color: #d6040b;
	top: 50%;
	transform: translateY(-50%);
	left: -25px;
}
.utf_aarlin_title_holder .title:after {
	position: absolute;
	content: "";
	width: 15px;
	height: 4px;
	border-radius: 20px;
	background-color: #d6040b;
	top: 50%;
	transform: translateY(-50%);
	right: -23px;
}
.utf_aarlin_title_holder h3 {
	color: #fff;
	text-transform: uppercase;
	font-size: 35px;
	font-weight: 600;
	margin-bottom: 5px;
}
.utf_aarlin_services_wrap .service_list {
	width: 100%;
	height: auto;
	clear: both;
	float: left;
	padding-top: 83px;
	position: relative;
	top: 30px;
	opacity: 0;
	-webkit-transition: all .6s ease;
	-moz-transition: all .6s ease;
	-ms-transition: all .6s ease;
	-o-transition: all .6s ease;
	transition: all .6s ease;
}
.utf_aarlin_services_wrap .service_list.utf_aarlin_appear.load {
	top: 0px;
	opacity: 1;
}
.utf_aarlin_services_wrap .service_list ul {
	margin: 0px 0px 0px -50px;
	list-style-type: none;
}
.utf_aarlin_services_wrap .service_list ul li {
	margin: 0px 0px 50px 0px;
	width: 33.3333%;
	float: left;
	padding-left: 50px;
}
.utf_aarlin_services_wrap .service_list .inner {
	width: 100%;
	height: auto;
	clear: both;
	float: left;
	text-align:center;
	position: relative;
	border-radius:6px;
	background-color: #07081f;
	padding: 49px 40px 43px 40px;
	cursor: pointer;
}
.utf_aarlin_services_wrap .service_list .inner i{
	color: #d6040b;
	background: #fff;
	width: 90px;
	height: 90px;
	line-height: 90px;
	font-size:38px;
	margin-bottom:20px;
	display:inline-block;
	border-radius: 100px;
	-webkit-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
	box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
}
.utf_aarlin_services_wrap .service_list .inner a.link{
	color: #d6040b;
	font-size:15px;
	text-decoration:none;
	text-transform:uppercase;
	font-weight:700;
	margin-top:12px;
	display:inline-block;
}
.utf_aarlin_services_wrap .service_list .inner a.link:hover{
	color:#ffffff;
}
.utf_aarlin_services_wrap .service_list .inner .svg {
	color: #d6040b;
	width: 40px;
	height: 40px;
	margin-bottom: 15px;
}
.utf_aarlin_services_wrap .service_list .inner .title {
	color: #fff;
	text-transform: uppercase;
	font-size: 20px;
	font-weight: 600;
	margin-bottom: 19px;
}
.utf_aarlin_services_wrap .service_list .inner:before {
	position: absolute;
	content: "";
	top: 0px;
	bottom: 0px;
	left: 0px;
	right: 0px;
	border-radius:6px;
	background: -webkit-linear-gradient(45deg, #d6040b 15%, #e01545 65%);
	background: linear-gradient(45deg, #d6040b 15%, #e01545 65%);
	z-index: -1;
	-webkit-transition: all .3s ease;
	-moz-transition: all .3s ease;
	-ms-transition: all .3s ease;
	-o-transition: all .3s ease;
	transition: all .3s ease;
}
.utf_aarlin_services_wrap .service_list .inner:hover:before {
	bottom: 0px;
	right: 0px;
	left: 0px;
	top: 0px;
	-webkit-transform: scale(1.03) rotate(-3deg);
	transform: scale(1.03) rotate(-3deg);
}

/*----------------------------------------------
 Portfolio
----------------------------------------------*/

.utf_aarlin_portfolio {
	width: 100%;
	height: auto;
	clear: both;
	float: left;
}
.utf_aarlin_portfolio .portfolio_list {
	width: 100%;
	height: auto;
	clear: both;
	float: left;
	padding-top: 83px;
	position: relative;
	top: 30px;
	opacity: 0;
	-webkit-transition: all .6s ease;
	-moz-transition: all .6s ease;
	-ms-transition: all .6s ease;
	-o-transition: all .6s ease;
	transition: all .6s ease;
}
.utf_aarlin_portfolio .portfolio_list.utf_aarlin_appear.load {
	top: 0px;
	opacity: 1;
}
.utf_aarlin_portfolio .portfolio_list ul {
	margin: 0px 0px 0px -40px;
	list-style-type: none;
}
.utf_aarlin_portfolio .portfolio_list ul li {
	margin: 0px 0px 50px 0px;
	list-style-type: none;
	padding-left: 40px;
	float: left;
	width: 33.3333%;
}
.utf_aarlin_portfolio .portfolio_list ul li .inner {
	width: 100%;
	height: auto;
	clear: both;
	float: left;
	position: relative;
	padding-left: 0px;
}
.utf_aarlin_portfolio .portfolio_list ul li .inner .image_wrap {
	width: 100%;
	height: auto;
	clear: both;
	float: left;
	position: relative;
}
.utf_aarlin_portfolio .portfolio_list ul li .inner .image_wrap:before {
	position: absolute;
	content: "";
	top: 0px;
	bottom: 0px;
	left: 0px;
	right: 0px;
	border-radius:6px;
	background: -webkit-linear-gradient(45deg, #d6040b 15%, #e01545 65%);
	background: linear-gradient(45deg, #d6040b 15%, #e01545 65%);
	z-index: -1;
	-webkit-transition: all .3s ease;
	-moz-transition: all .3s ease;
	-ms-transition: all .3s ease;
	-o-transition: all .3s ease;
	transition: all .3s ease;
}
.utf_aarlin_portfolio .portfolio_list ul li .inner:hover .image_wrap:before {
	bottom: 0px;
	right: 0px;
	left: 0px;
	top: 0px;
	-webkit-transform: scale(1.03) rotate(-3deg);
	transform: scale(1.03) rotate(-3deg);
}
.utf_aarlin_portfolio .portfolio_list ul li .inner .image_wrap .image {
	position: relative;
}
.utf_aarlin_portfolio .portfolio_list ul li .inner .image_wrap .image::before {
    content: '';
    position: absolute;
    z-index: 1;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 50%;
	opacity:0.5;
    background: linear-gradient(to top, rgba(0,0,0,0.9) 0%, rgba(0,0,0,0.8) 35%, rgba(0,0,0,0.4) 60%, rgba(0,0,0,0) 100%);
}
.utf_aarlin_portfolio .portfolio_list ul li .inner .image_wrap .image img {
	min-width: 100%;
	border-radius:6px;
}
.utf_aarlin_portfolio .portfolio_list ul li .inner .image_wrap .image .main {
	position: absolute;
	top: 0px;
	bottom: 0px;
	left: 0px;
	right: 0px;
	border-radius:6px;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: top;
}
.utf_aarlin_portfolio .portfolio_list ul li .inner .title {
	position: absolute;
	-webkit-transform-origin: 0 100%;
	-ms-transform-origin: 0 100%;
	transform-origin: 0 100%;
	text-transform: uppercase;
	left: 10px;
	bottom: 78px;
	z-index:9;
	background: #020312;
	padding: 10px 15px 5px 15px;
	border-radius: 4px;
	-webkit-transform: rotate(0deg) translate(0, 100%);
	-ms-transform: rotate(0deg) translate(0, 100%);
	transform: rotate(0deg) translate(0, 100%);
}
.utf_aarlin_portfolio .portfolio_list ul li .inner .title h3 {
	color: #fff;
	text-transform: capitalize;
	font-weight: 600;
	font-size: 20px;
	line-height: 1;
}
.utf_aarlin_portfolio .portfolio_list ul li .inner .title span {
	color: #d6040b;
	text-transform: capitalize;
	font-weight: 800;
	font-size: 14px;
	margin-top:5px;
	display: inline-block;
	font-family: "Saira";
}
.utf_aarlin_portfolio .portfolio_list ul li .inner .link {
	position: absolute;
	top: 0px;
	bottom: 0px;
	left: 0px;
	right: 0px;
	z-index: 5;
}

/*----------------------------------------------
 Resume
----------------------------------------------*/

.utf_aarlin_resume {
	width: 100%;
	height: auto;
	clear: both;
	float: left;
}
.utf_aarlin_resume .resume_list {
	width: 100%;
	height: auto;
	clear: both;
	float: left;
	padding-top: 83px;
	margin-bottom: 38px;
	position: relative;
	top: 30px;
	opacity: 0;
	-webkit-transition: all .6s ease;
	-moz-transition: all .6s ease;
	-ms-transition: all .6s ease;
	-o-transition: all .6s ease;
	transition: all .6s ease;
}
.utf_aarlin_resume .resume_list.utf_aarlin_appear.load {
	top: 0px;
	opacity: 1;
}
.utf_aarlin_resume .resume_list ul {
	margin: 0px 0px 0px -50px;
	list-style-type: none;
}
.utf_aarlin_resume .resume_list ul li {
	margin: 0px 0px 50px 0px;
	width: 33.3333%;
	float: left;
	padding-left: 50px;
}
.utf_aarlin_resume .resume_list .inner {
	width: 100%;
	height: auto;
	clear: both;
	float: left;
	text-align:center;
	position: relative;
	border-radius:6px;
	background-color: #07081f;
	padding: 40px;
	cursor: pointer;
}
.utf_aarlin_resume .resume_list .inner .year {
	background:rgba(255, 255, 255, 0.1);
	color: #d6040b;
	text-transform: uppercase;
	font-weight: 800;
	font-size: 14px;
	display: inline-block;
	margin-bottom: 15px;
	padding: 8px 15px;
	border-radius: 4px;
}
.utf_aarlin_resume .resume_list .inner .title {
	color: #fff;
	text-transform: uppercase;
	font-size: 20px;
	font-weight: 600;
	margin-bottom: 18px;
}
.utf_aarlin_resume .resume_list .inner .link {
	position: absolute;
	top: 0px;
	bottom: 0px;
	left: 0px;
	right: 0px;
}
.utf_aarlin_resume .resume_list .inner:before {
	position: absolute;
	content: "";
	top: 0px;
	bottom: 0px;
	left: 0px;
	right: 0px;
	background: -webkit-linear-gradient(45deg, #d6040b 15%, #e01545 65%);
	background: linear-gradient(45deg, #d6040b 15%, #e01545 65%);
	z-index: -1;
	border-radius:6px;
	-webkit-transition: all .3s ease;
	-moz-transition: all .3s ease;
	-ms-transition: all .3s ease;
	-o-transition: all .3s ease;
	transition: all .3s ease;
}
.utf_aarlin_resume .resume_list .inner:hover:before {
	bottom: 0px;
	right: 0px;
	left: 0px;
	top: 0px;
	-webkit-transform: scale(1.03) rotate(-3deg);
	transform: scale(1.03) rotate(-3deg);
}

/*----------------------------------------------
 Skills
----------------------------------------------*/

.utf_aarlin_skills_wrap {
	width: 100%;
	height: auto;
	clear: both;
	float: left;
}
.utf_aarlin_skills_wrap .skills_inner {
	width: 100%;
	height: auto;
	clear: both;
	float: left;
	display: flex;
}
.utf_aarlin_skills_wrap .skills_inner .left {
	width: 50%;
	height: auto;
	padding-right: 50px;
}
.utf_aarlin_skills_wrap .skills_inner .left h3 {
	color: #fff;
	text-transform: normal;
	font-size: 26px;
	font-weight: 600;
	margin-bottom: 20px;
}
.utf_aarlin_skills_wrap .skills_inner .left h3 span {
	color: #d6040b;	
}
.utf_aarlin_skills_wrap .skills_inner .right {
	width: 50%;
	height: auto;
	padding-left: 50px;
}
.utf_aarlin_progress {
	width: 100%;
	height: auto;
	clear: both;
	float: left;
	margin-bottom: 9px;
}
.progress_inner {
	width: 100%;
	margin-bottom: 17px;
}
.progress_inner > span {
	margin: 0px 0px 7px 0px;
	width: 100%;
	display: block;
	text-align: left;
	font-family: "Saira";
}
.progress_inner span.label {
	font-size: 13px;
	font-weight: 700;
	color: #fff;
	text-transform: uppercase;
}
.progress_inner span.number {
	font-size: 13px;
	font-weight: 700;
	text-transform: uppercase;
	color: #fff;
	float: right;
}
.progress_inner .background {
	background: #07081f;
	width: 100%;
	min-width: 100%;
	position: relative;
	height: 8px;
}
.progress_inner .background .bar_in {
	height: 100%;
	background: #333;
	width: 0px;
	border-radius: 20px;
	overflow: hidden;
}
.progress_inner .background .bar {
	width: 0px;
	height: 100%;
}
.progress_inner .background .bar.open {
	-webkit-animation: wow 3s cubic-bezier(0.165, 0.840, 0.440, 1.000);  /* Safari 4+ */
	-moz-animation: wow 3s cubic-bezier(0.165, 0.840, 0.440, 1.000);  /* Fx 5+ */
	animation: wow 3s cubic-bezier(0.165, 0.840, 0.440, 1.000);  /* IE 10+ */
	width: 100%;
}
 @-webkit-keyframes wow {
0% {
width:0%;
}
100% {
width:100%;
}
}
@-moz-keyframes wow {
0% {
width:0%;
}
100% {
width:100%;
}
}
@keyframes wow {
0% {
width:0%;
}
100% {
width:100%;
}
}

/*----------------------------------------------
 Team
----------------------------------------------*/

.utf_aarlin_team_wrap {
	width: 100%;
	height: auto;
	clear: both;
	float: left;
}
.utf_aarlin_team_wrap .team_list {
	width: 100%;
	height: auto;
	clear: both;
	float: left;
	padding-top: 83px;
	position: relative;
	top: 30px;
	opacity: 0;
	-webkit-transition: all .6s ease;
	-moz-transition: all .6s ease;
	-ms-transition: all .6s ease;
	-o-transition: all .6s ease;
	transition: all .6s ease;
}
.utf_aarlin_team_wrap .team_list.utf_aarlin_appear.load {
	top: 0px;
	opacity: 1;
}
.utf_aarlin_team_wrap .team_list ul {
	margin: 0px 0px 0px -50px;
	list-style-type: none;
}
.utf_aarlin_team_wrap .team_list ul li {
	margin: 0px 0px 50px 0px;
	width: 33.3333%;
	float: left;
	padding-left: 50px;
}
.utf_aarlin_team_wrap .team_list ul li .inner {
	width: 100%;
	height: auto;
	clear: both;
	float: left;
	position: relative;
	cursor: pointer;
}
.utf_aarlin_team_wrap .team_list ul li .inner .image {
	position: relative;
	width: 100%;
	height: 100%;
}
.utf_aarlin_team_wrap .team_list ul li .inner:before {
	position: absolute;
	content: "";
	top: 0px;
	bottom: 0px;
	left: 0px;
	right: 0px;
	border-radius:6px;
	background: -webkit-linear-gradient(45deg, #d6040b 15%, #e01545 65%);
	background: linear-gradient(45deg, #d6040b 15%, #e01545 65%);
	z-index: -1;
	-webkit-transition: all .3s ease;
	-moz-transition: all .3s ease;
	-ms-transition: all .3s ease;
	-o-transition: all .3s ease;
	transition: all .3s ease;
}
.utf_aarlin_team_wrap .team_list ul li .inner:hover:before {
	bottom: 0px;
	right: 0px;
	left: 0px;
	top: 0px;
	-webkit-transform: scale(1.03) rotate(-3deg);
	transform: scale(1.03) rotate(-3deg);
}
.utf_aarlin_team_wrap .team_list ul li .inner .image img {
	min-width: 100%;
	border-radius:6px 6px 0 0;
}
.utf_aarlin_team_wrap .team_list ul li .inner .image .main {
	position: absolute;
	top: 0px;
	bottom: 0px;
	left: 0px;
	right: 0px;
	border-radius:6px 6px 0 0;
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
}
.utf_aarlin_team_wrap .team_list ul li .inner .texts {
	width: 100%;
	height: auto;
	clear: both;
	float: left;
	background-color: #07081f;
	position: relative;
	z-index: 2;
	text-align:center;
	padding: 20px;
	border-radius:0 0 6px 6px;
}
.utf_aarlin_team_wrap .team_list ul li .inner .texts h3 {
	color: #fff;
	text-transform: uppercase;
	font-size: 20px;
	font-weight: 600;
	margin-bottom: 3px;
}
.utf_aarlin_team_wrap .team_list ul li .inner .texts span {
	color: #d6040b;
	text-transform: uppercase;
	font-weight: 800;
	font-size: 14px;
	display: inline-block;
	font-family: "Saira";
}

/*----------------------------------------------
 Pricing
----------------------------------------------*/

.utf_aarlin_pricing_plan {
	width: 100%;
	height: auto;
	clear: both;
	float: left;
}
.utf_aarlin_pricing_plan .pricing_list {
	width: 100%;
	height: auto;
	clear: both;
	float: left;
	padding-top: 83px;
	position: relative;
	top: 30px;
	opacity: 0;
	-webkit-transition: all .6s ease;
	-moz-transition: all .6s ease;
	-ms-transition: all .6s ease;
	-o-transition: all .6s ease;
	transition: all .6s ease;
}
.utf_aarlin_pricing_plan .pricing_list.utf_aarlin_appear.load {
	top: 0px;
	opacity: 1;
}
.utf_aarlin_pricing_plan .pricing_list > ul {
	margin: 0px 0px 0px -50px;
	list-style-type: none;
}
.utf_aarlin_pricing_plan .pricing_list > ul > li {
	margin: 0px 0px 70px 0px;
	float: left;
	width: 33.3333%;
	padding-left: 50px;
}
.utf_aarlin_pricing_plan .pricing_list > ul > li .inner {
	width: 100%;
	height: auto;
	clear: both;
	float: left;
	position: relative;
	text-align: center;
	border-radius:6px;
	background-color: #07081f;
	cursor: pointer;
}
.utf_aarlin_pricing_plan .pricing_list > ul > li .inner .in {
	width: 100%;
	height: auto;
	clear: both;
	float: left;
	border-radius:6px;
	position: relative;
	overflow: hidden;
	padding: 45px 20px 50px 20px;
}
.utf_aarlin_pricing_plan .pricing_list > ul > li .inner:before {
	position: absolute;
	content: "";
	top: 0px;
	bottom: 0px;
	left: 0px;
	right: 0px;
	background: -webkit-linear-gradient(45deg, #d6040b 15%, #e01545 65%);
	background: linear-gradient(45deg, #d6040b 15%, #e01545 65%);
	z-index: -1;
	border-radius:6px;
	-webkit-transition: all .3s ease;
	-moz-transition: all .3s ease;
	-ms-transition: all .3s ease;
	-o-transition: all .3s ease;
	transition: all .3s ease;
}
.utf_aarlin_pricing_plan .pricing_list > ul > li .inner:hover:before {
	bottom: 0px;
	right: 0px;
	left: 0px;
	top: 0px;
	-webkit-transform: scale(1.03) rotate(-3deg);
	transform: scale(1.03) rotate(-3deg);
}
.utf_aarlin_pricing_plan .pricing_list ul li .inner .icon {
	width: 90px;
	height: 90px;
	line-height: 90px;
	display: block;
	margin: 0 auto 20px auto;
}
.utf_aarlin_pricing_plan .pricing_list ul li .inner .svg {
	color: #d6040b;
	width: 30px;
	height: 40px;
}
.utf_aarlin_pricing_plan .pricing_list ul li .inner i {
    color: #d6040b;
    background: #fff;
    width: 90px;
    height: 90px;
    line-height: 90px;
    font-size: 38px;
    margin-bottom: 20px;
    display: inline-block;
    border-radius: 100px;
    -webkit-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
}
.utf_aarlin_pricing_plan .pricing_list ul li .inner .in .utf_aarlin_button a i.icon-basket {
    color: #ffffff;   
	background: transparent;
    width: auto;
    height: auto;
    line-height: initial;
    font-size: 16px;
    margin-bottom: 0;
    display: inline-block;
    border-radius:0;	
	-webkit-box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.2);
    box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.2);
}
.utf_aarlin_pricing_plan .pricing_list ul li .inner .title {
	color: #d6040b;
	display: inline-block;
	font-family: "Saira";
	font-size:16px;
	font-weight: 500;
	background: rgba(255, 255, 255, 0.1);
	line-height: 1;
	text-transform:uppercase;
	border-radius:4px;
	padding: 10px 15px;
}
.utf_aarlin_pricing_plan .pricing_list ul li .inner .price {
	font-size: 30px;
	font-weight: 600;
	color: #fff;
	font-family: "Saira";
	margin:20px 0;
	border: 1px dashed rgba(255, 255, 255, 0.4);
	border-radius: 6px;
}
.utf_aarlin_pricing_plan .pricing_list ul li .inner .price span {
	font-size: 20px;
}
.utf_aarlin_pricing_plan .pricing_list ul li .inner ul {
	margin: 0px 0px 20px 0px;
	list-style-type: none;
}
.utf_aarlin_pricing_plan .pricing_list ul li .inner ul li {
	margin-bottom: 7px;
}
.utf_aarlin_pricing_plan.pricing {
	padding-top: 25px;
}
.utf_aarlin_pricing_plan.pricing a {
	padding: 3px 25px;
}
.utf_aarlin_pricing_plan .pricing_list > ul > li .inner .shape {
	position: absolute;
	width: 170px;
	height: 80px;
	background: -webkit-linear-gradient(45deg, #d6040b 15%, #e01545 65%);
	background: linear-gradient(45deg, #d6040b 15%, #e01545 65%);
	top: -20px;
	left: -60px;
	transform: rotate(-43deg);
}
.utf_aarlin_pricing_plan .pricing_list > ul > li .inner .featured {
	position: absolute;
	color: #fff;
	top: 22px;
	left: 3px;
	transform: rotate(-43deg);
	z-index: 1;
	font-size: 12px;
	text-transform: uppercase;
	font-family: "Saira";
	font-weight: 600;
}

/*----------------------------------------------
 Blog
----------------------------------------------*/

.utf_aarlin_blog_post {
	width: 100%;
	height: auto;
	clear: both;
	float: left;
}
.utf_aarlin_blog_post .utf_blog_post_list {
	width: 100%;
	height: auto;
	clear: both;
	float: left;
	padding-top: 83px;
	position: relative;
	top: 30px;
	opacity: 0;
	-webkit-transition: all .6s ease;
	-moz-transition: all .6s ease;
	-ms-transition: all .6s ease;
	-o-transition: all .6s ease;
	transition: all .6s ease;
}
.utf_aarlin_blog_post .utf_blog_post_list.utf_aarlin_appear.load {
	opacity: 1;
	top: 0px;
}
.utf_aarlin_blog_post .utf_blog_post_list ul {
	margin: 0px 0px 0px -50px;
	list-style-type: none;
}
.utf_aarlin_blog_post .utf_blog_post_list ul li {
	margin: 0px 0px 50px 0px;
	width: 33.3333%;
	float: left;
	padding-left: 50px;
}
.utf_aarlin_blog_post .utf_blog_post_list ul li .inner {
	width: 100%;
	height: auto;
	clear: both;
	float: left;
	border-radius:6px;
	position: relative;
}
.utf_aarlin_blog_post .utf_blog_post_list ul li .inner:before {
	position: absolute;
	content: "";
	top: 0px;
	bottom: 0px;
	left: 0px;
	right: 0px;
	border-radius:6px;
	background: -webkit-linear-gradient(45deg, #d6040b 15%, #e01545 65%);
	background: linear-gradient(45deg, #d6040b 15%, #e01545 65%);
	z-index: -1;
	-webkit-transition: all .3s ease;
	-moz-transition: all .3s ease;
	-ms-transition: all .3s ease;
	-o-transition: all .3s ease;
	transition: all .3s ease;
}
.utf_aarlin_blog_post .utf_blog_post_list ul li .inner:hover:before {
	bottom: 0px;
	right: 0px;
	left: 0px;
	top: 0px;
	-webkit-transform: scale(1.03) rotate(-3deg);
	transform: scale(1.03) rotate(-3deg);
}
.utf_aarlin_blog_post .utf_blog_post_list ul li .inner .image {
	position: relative;
}
.utf_aarlin_blog_post .utf_blog_post_list ul li .inner .image a {
	position: absolute;
	top: 0px;
	bottom: 0px;
	left: 0px;
	right: 0px;
}
.utf_aarlin_blog_post .utf_blog_post_list ul li .inner .image img {
	min-width: 100%;
	border-radius:6px 6px 0 0;
}
.utf_aarlin_blog_post .utf_blog_post_list ul li .inner .image .main {
	position: absolute;
	top: 0px;
	bottom: 0px;
	left: 0px;
	right: 0px;
	border-radius:6px 6px 0 0;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}
.utf_aarlin_blog_post .utf_blog_post_list ul li .inner .texts {
	width: 100%;
	height: auto;
	clear: both;
	float: left;
	border-radius:0 0 6px 6px;
	background-color: #07081f;
	padding: 35px 35px 40px 35px;
}
.utf_aarlin_blog_post .utf_blog_post_list ul li .inner .texts .date a {
	text-decoration: none;
	color: #fff;
	-webkit-transition: all .3s ease;
	-moz-transition: all .3s ease;
	-ms-transition: all .3s ease;
	-o-transition: all .3s ease;
	transition: all .3s ease;
}
.utf_aarlin_blog_post .utf_blog_post_list ul li .inner .texts .def {
	margin-bottom: 28px;
}
.utf_aarlin_blog_post .utf_blog_post_list ul li .inner .texts .date a:hover {
	color: #d6040b;
}
.utf_aarlin_blog_post .utf_blog_post_list ul li .inner .texts .title h3 {
	line-height: 1;
	margin-bottom: 21px;
}
.utf_aarlin_blog_post .utf_blog_post_list ul li .inner .texts .title h3 a {
	color: #fff;
	text-decoration: none;
	text-transform: uppercase;
	font-size: 20px;
	font-weight: 600;
	margin-bottom: 18px;
	-webkit-transition: all .3s ease;
	-moz-transition: all .3s ease;
	-ms-transition: all .3s ease;
	-o-transition: all .3s ease;
	transition: all .3s ease;
}
.utf_aarlin_blog_post .utf_blog_post_list ul li .inner .texts .title h3 a:hover {
	color: #d6040b;
}

/*----------------------------------------------
 Contact
----------------------------------------------*/

.utf_aarlin_contact {
	width: 100%;
	height: auto;
	clear: both;
	float: left;
	margin-bottom: 100px;
}
.utf_aarlin_contact .contact_inner {
	width: 100%;
	height: auto;
	clear: both;
	float: left;
	padding-top: 75px;
	display: flex;
}
.utf_aarlin_contact .contact_inner .left {
	width: 30%;
	height: auto;
	clear: both;
	float: left;
	border-radius:6px;
	background-color: #07081f;
	padding: 35px;
	box-shadow:0 0px 10px 0 rgba(255, 255, 255, 0.15)
}
.utf_aarlin_contact .contact_inner .left ul {
	margin: 0px;
	list-style-type: none;
}
.utf_aarlin_contact .contact_inner .left ul li {
	margin: 0px 0px 10px 0px;
	width: 100%;
	float: left;
	list-style-type: none;
}
.utf_aarlin_contact .contact_inner .left ul li .inner {
	width: 100%;
	height: auto;
	clear: both;
	float: left;
	position: relative;
}
.utf_aarlin_contact .contact_inner .left ul li .inner .svg {
	position: absolute;
	left: 0px;
	top: 4px;
	color: #d6040b;
	width: 20px;
	height: 20px;
}
.utf_aarlin_contact .contact_inner .left ul li .inner span {
	padding-left: 20px;
}
.utf_aarlin_contact .contact_inner .left ul li .inner span a {
	text-decoration: none;
	color: #e0e0e0;
	-webkit-transition: all .3s ease;
	-moz-transition: all .3s ease;
	-ms-transition: all .3s ease;
	-o-transition: all .3s ease;
	transition: all .3s ease;
}
.utf_aarlin_contact .contact_inner .left ul li .inner span a:hover {
	color: #fff;
}
.utf_aarlin_contact .contact_inner .right {
	width: 67%;
	height: auto;
	position: relative;
	top: 0px;
	margin-left:2.5rem
}
.utf_aarlin_contact .contact_inner .right .first_row {
	width: 100%;
	height: auto;
	clear: both;
	float: left;
}
.utf_aarlin_contact .contact_inner .right .first_row ul {
	margin: 0px 0px 0px -20px;
	list-style-type: none;
}
.utf_aarlin_contact .contact_inner .right .first_row ul li {
	margin: 0px 0px 25px 0px;
	width: 50%;
	float: left;
	padding-left: 20px;
}
.utf_aarlin_contact .contact_inner .right .first_row ul li input {
	background-color: transparent;
	border: 1px solid #f9f9f9;
	width: 100%;
	border-radius:4px;
	padding: 5px 15px !important;
	color: #424242;
	height:50px;
	font-size: 16px;
	letter-spacing: 0;
	font-weight: 400;
	font-family: "Saira";
	-webkit-transition: all .3s ease;
	-moz-transition: all .3s ease;
	-ms-transition: all .3s ease;
	-o-transition: all .3s ease;
	transition: all .3s ease;
}
.utf_aarlin_contact .contact_inner .right .first_row ul li input:focus {
	outline: none;
	background-color: transparent;
	border: 1px solid #d0d0d0;
}
.utf_aarlin_contact .contact_inner .right .second_row {
	width: 100%;
	height: auto;
	float: left;
	clear: both;
	margin-bottom: 20px;
}
.utf_aarlin_contact .contact_inner .right textarea {
	background-color: transparent;
	border: 1px solid #f9f9f9;
	width: 100%;
	resize: none;
	height:120px;
	font-size: 16px;
	letter-spacing: 0;
	border-radius:4px;
	padding: 10px 15px 5px 15px !important;
	font-weight: 400;
	font-family: "Saira";
	color: #fff;
	-webkit-transition: all .3s ease;
	-moz-transition: all .3s ease;
	-ms-transition: all .3s ease;
	-o-transition: all .3s ease;
	transition: all .3s ease;
}
.utf_aarlin_contact .contact_inner .right textarea:focus {
	outline: none;
	background-color: transparent;
	border: 1px solid #d0d0d0;
}

/*----------------------------------------------
 Footer
----------------------------------------------*/

.utf_aarlin_footer_wrap {
	width: 100%;
	height: auto;
	clear: both;
	float: left;
	background-color: #07081f;
	padding: 30px 0px;
}
.utf_aarlin_footer_wrap .footer_inner {
	width: 100%;
	height: auto;
	clear: both;
	float: left;
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.utf_aarlin_footer_wrap .footer_inner .left p {
	font-family: "Saira";
}
.utf_aarlin_footer_wrap .footer_inner .left a {
	text-decoration: none;
	color: #fff;
	-webkit-transition: all .3s ease;
	-moz-transition: all .3s ease;
	-ms-transition: all .3s ease;
	-o-transition: all .3s ease;
	transition: all .3s ease;
}
.utf_aarlin_footer_wrap .footer_inner .left a:hover {
	color: #d6040b;
}
.utf_aarlin_footer_wrap .footer_inner .right ul {
	margin: 0px;
	list-style-type: none;
}
.utf_aarlin_footer_wrap .footer_inner .right ul li {
	margin: 0px 10px 0px 0;
	float: left;
}
.utf_aarlin_footer_wrap .footer_inner .right ul li a {
	text-decoration: none;
	color: #ffffff;
	background: -webkit-linear-gradient(45deg, #d6040b 15%, #e01545 65%);
	background: linear-gradient(45deg, #d6040b 15%, #e01545 65%);
	width: 40px;
	height: 40px;
	line-height: 42px;
	text-align: center;
	border-radius: 30px;
	font-size: 16px;
	display:inline-block;
	-webkit-transition: all .3s ease;
	-moz-transition: all .3s ease;
	-ms-transition: all .3s ease;
	-o-transition: all .3s ease;
	transition: all .3s ease;
}
.utf_aarlin_footer_wrap .footer_inner .right ul li a:hover {
	color: #d6040b;
	background: -webkit-linear-gradient(45deg, #ffffff 15%, #ffffff 65%);
	background: linear-gradient(45deg, #ffffff 15%, #ffffff 65%);
}
#services {
	padding-top: 92px;
}
#portfolio {
	padding-top: 42px;
}
#resume {
	padding-top: 42px;
}
#team {
	padding-top: 72px;
}
#pricing {
	padding-top: 42px;
}
#news {
	padding-top: 42px;
}
#contact {
	padding-top: 42px;
}
.utf_aarlin_hero_wrap_video {
	width: 100%;
	height: 100vh;
	position: relative;
}
.utf_aarlin_hero_wrap_video .overlay {
	position: absolute;
	top: 0px;
	bottom: 0px;
	left: 0px;
	right: 0px;
	background-color: rgba(2,3,18,.8);
	z-index: 1;
}
.utf_aarlin_hero_wrap_video .container {
	height: 100%;
}
.utf_aarlin_hero_wrap_video .hero_texts {
	position: absolute;
	z-index: 2;
	top: 50%;
	transform: translateY(-50%);
	-webkit-clip-path: polygon(0% 0%, 0% 100%, 0 100%, 0 0, 100% 0, 100% 100%, 0 100%, 0 100%, 100% 100%, 100% 0%);
	clip-path: polygon(0% 0%, 0% 100%, 0 100%, 0 0, 100% 0, 100% 100%, 0 100%, 0 100%, 100% 100%, 100% 0%);
	-webkit-transition: 1.5s ease-in-out;
	-o-transition: 1.5s ease-in-out;
	transition: 1.5s ease-in-out;
}
.utf_aarlin_hero_wrap_video .hero_texts.animate {
	-webkit-clip-path: polygon(0% 0%, 0% 100%, 50% 100%, 50% 0, 50% 0, 50% 100%, 50% 100%, 50% 100%, 100% 100%, 100% 0%);
	clip-path: polygon(0% 0%, 0% 100%, 50% 100%, 50% 0, 50% 0, 50% 100%, 50% 100%, 50% 100%, 100% 100%, 100% 0%);
}
.utf_aarlin_hero_wrap_video .hero_texts h3 {
	color: #fff;
	text-transform: uppercase;
	font-size: 60px;
	font-weight: 700;
	margin-bottom: 5px;
	position: relative;
}
.utf_aarlin_hero_wrap_video .hero_texts .subtitle {
	color: #e0e0e0;
	text-transform: uppercase;
	font-size: 17px;
	font-weight: 600;
	font-family: "Saira";
}
.glitch {
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	background-image: url(../img/hero/1.jpg);
	background-size: cover;
	-webkit-background-size: cover;
	background-position: center;
	z-index: -1 !important;
	opacity: 1;
	transform: scale(1);
}
#particles-js {
	width: 100%;
	height: 100vh;
	position: fixed;
	z-index: 2;
}
.utf_aarlin_hero_wrap .hero_texts.intro {
	position: absolute;
	z-index: 2;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	text-align: center;
}
.utf_aarlin_hero_wrap .hero_texts.intro h3 {
	margin-bottom: 18px;
}
.utf_aarlin_hero_wrap .hero_texts.intro .name span {
	color: #d6040b;
}
.utf_aarlin_down.intro {
	left: 50%;
	transform: translateX
}
.utf_aarlin_button.intro {
	padding-top: 40px;
}
.utf_aarlin_intro_inner {
	width: 100%;
	height: auto;
	clear: both;
	float: left;
	padding-top: 100px;
	padding-bottom: 80px;
	padding-left: 100px;
	padding-right: 100px;
}
.utf_aarlin_intro_inner .title {
	width: 100%;
	height: auto;
	clear: both;
	float: left;
	text-align: center;
	margin-bottom: 100px;
}
.utf_aarlin_intro_inner .title h3 {
	color: #fff;
	text-transform: uppercase;
	font-size: 30px;
	font-weight: 600;
	margin-bottom: 19px;
}
.utf_aarlin_intro_inner > ul {
	margin: 0px 0px 0px -60px;
	list-style-type: none;
	position: relative;
	top: 30px;
	opacity: 0;
	-webkit-transition: all .6s ease;
	-moz-transition: all .6s ease;
	-ms-transition: all .6s ease;
	-o-transition: all .6s ease;
	transition: all .6s ease;
}
.utf_aarlin_intro_inner > ul.utf_aarlin_appear.load {
	top: 0px;
	opacity: 1;
}
.utf_aarlin_intro_inner > ul > li {
	margin: 0px 0px 60px 0px;
	width: 33.3333%;
	float: left;
	padding-left: 60px;
}
.utf_aarlin_intro_inner > ul > li > .inner {
	width: 100%;
	height: auto;
	clear: both;
	float: left;
	position: relative;
	box-shadow: 0px 0px 10px 1px rgba(255,255,255,.2);
}
.utf_aarlin_intro_inner> ul > li > .inner .image {
	position: relative;
}
.utf_aarlin_intro_inner > ul > li > .inner .image img {
	min-width: 100%;
}
.utf_aarlin_intro_inner > ul > li > .inner .image .main {
	position: absolute;
	top: 0px;
	bottom: 0px;
	left: 0px;
	right: 0px;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}
.utf_aarlin_intro_inner > ul > li > .inner .name {
	width: 100%;
	height: auto;
	float: left;
	text-align: center;
	background-color: #07081f;
}
.utf_aarlin_intro_inner > ul > li > .inner .name a {
	text-decoration: none;
	color: #fff;
	font-family: "saira";
	font-weight: 500;
	text-transform: uppercase;
	font-size: 15px;
	display: inline-block;
	padding: 13px 0px;
}
.utf_aarlin_intro_inner > ul > li > .inner .link {
	position: absolute;
	top: 0px;
	bottom: 0px;
	left: 0px;
	right: 0px;
}
.utf_aarlin_intro_inner .features {
	width: 100%;
	height: auto;
	clear: both;
	float: left;
	padding-top: 63px;
}
.utf_aarlin_intro_inner .features .title {
	color: #fff;
	text-transform: uppercase;
	font-size: 30px;
	font-weight: 600;
	margin-bottom: 123px;
}
.utf_aarlin_intro_inner .features ul {
	margin: 0px 0px 0px -60px;
	list-style-type: none;
	position: relative;
	top: 30px;
	opacity: 0;
	-webkit-transition: all .6s ease;
	-moz-transition: all .6s ease;
	-ms-transition: all .6s ease;
	-o-transition: all .6s ease;
	transition: all .6s ease;
}
.utf_aarlin_intro_inner .features ul.utf_aarlin_appear.load {
	opacity: 1;
	top: 0px;
}
.utf_aarlin_intro_inner .features ul li {
	margin: 0px 0px 60px 0px;
	width: 33.3333%;
	float: left;
	padding-left: 60px;
}
.utf_aarlin_intro_inner .features ul li .inner {
	width: 100%;
	height: auto;
	clear: both;
	float: left;
	position: relative;
	box-shadow: 0px 0px 10px 1px rgba(255,255,255,.2);
	text-align: center;
	padding: 50px 20px;
}
.utf_aarlin_intro_inner .features ul li .inner .svg {
	width: 45px;
	height: 45px;
	color: #d6040b;
	margin-bottom: 20px;
}
.utf_aarlin_intro_inner .features ul li .inner .subtitle {
	color: #fff;
	font-family: "saira";
	font-weight: 500;
	text-transform: uppercase;
	font-size: 15px;
}
.utf_aarlin_footer_wrap.intro {
	padding-left: 100px;
	padding-right: 100px;
}
.utf_arrow_wrap {
    position: absolute;
    left: 50%;
    bottom: 5%;
    transform: translateX(-50%);
    margin-left: -21px;
    z-index: 1;
}
.utf_arrow_wrap a{
	text-decoration: none;
	color: #fff;
	font-size: 30px;
}
.utf_arrow_classic{
	position: absolute;
	left: 50%;
	bottom: 5%;
	transform: translateX(-50%);
	margin-left: -21px;
	z-index: 1;
}
.utf_arrow_wrap.bounce {
  -webkit-animation: bounce 3s infinite;
  animation: bounce 3s infinite; 
}

@-webkit-keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    -webkit-transform: translateY(0);
    transform: translateY(0); 
	}
  40% {
    -webkit-transform: translateY(-30px);
    transform: translateY(-30px); 
	}
  60% {
    -webkit-transform: translateY(-15px);
    transform: translateY(-15px); 
	} 
}
@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    -webkit-transform: translateY(0);
    transform: translateY(0); 
	}
  40% {
    -webkit-transform: translateY(-30px);
    transform: translateY(-30px); 
	}
  60% {
    -webkit-transform: translateY(-15px);
    transform: translateY(-15px); 
	} 
}

/*----------------------------------------------
 Vfx Loader Style
----------------------------------------------*/
.vfx-loader {
	background-color: #010312;
	height: 100%;
	width: 100%;
	position: fixed;
	z-index: 1;
	margin-top: 0;
	top: 0;
	z-index:99999;
	display:none;
}
.loader-wrapper {
	width: 100%;
	height: 100%;
	position: relative
}
.loader-content {
	position: absolute;
	left: 50%;
	top: 50%;
	height: 150px;
	width: 150px;
	margin-top: -75px;
	margin-left: -75px;
	-ms-transform: rotate(45deg);
	-webkit-transform: rotate(45deg);
	transform: rotate(45deg)
}
.loader-dot {
	width: 20px;
	height: 20px;
	background: -webkit-linear-gradient(45deg, #d6040b 15%, #e01545 65%);
	background: linear-gradient(45deg, #d6040b 15%, #e01545 65%);
	position: absolute;
	left: 65px;
	top: 65px;
	border-radius: 100%
}
.loader-dot:nth-child(2n+0) {
	margin-right: 0
}
.dot-1 {
	-webkit-animation: key-one 2s infinite;
	animation: key-one 2s infinite;
	-webkit-animation-delay: .2s;
	animation-delay: .2s
}
.dot-2 {
	-webkit-animation: key-two 2s infinite;
	animation: key-two 2s infinite;
	-webkit-animation-delay: .3s;
	animation-delay: .3s
}
.dot-3 {
	-webkit-animation: key-three 2s infinite;
	animation: key-three 2s infinite;
	-webkit-animation-delay: .4s;
	animation-delay: .4s
}
.dot-4 {
	-webkit-animation: key-four 2s infinite;
	animation: key-four 2s infinite;
	-webkit-animation-delay: .5s;
	animation-delay: .5s
}
.dot-5 {
	-webkit-animation: key-five 2s infinite;
	animation: key-five 2s infinite;
	-webkit-animation-delay: .6s;
	animation-delay: .6s
}
.dot-6 {
	-webkit-animation: key-six 2s infinite;
	animation: key-six 2s infinite;
	-webkit-animation-delay: .7s;
	animation-delay: .7s
}
.dot-7 {
	-webkit-animation: key-seven 2s infinite;
	animation: key-seven 2s infinite;
	-webkit-animation-delay: .8s;
	animation-delay: .8s
}
.dot-8 {
	-webkit-animation: key-eight 2s infinite;
	animation: key-eight 2s infinite;
	-webkit-animation-delay: .9s;
	animation-delay: .9s
}
.dot-center {
	position: absolute;
	width: 50px;
	height: 50px;
	left: 50px;
	top: 50px;
	-webkit-animation: key-big 2s infinite;
	animation: key-big 2s infinite;
	-webkit-animation-delay: .5s;
	animation-delay: .5s
}
@-webkit-keyframes key-big {
50% {
-webkit-transform:scale(.5)
}
}
@keyframes key-big {
50% {
transform:scale(.5);
-webkit-transform:scale(.5)
}
}
@-webkit-keyframes key-one {
50% {
-webkit-transform:translate(-65px, -65px)
}
}
@keyframes key-one {
50% {
transform:translate(-65px, -65px);
-webkit-transform:translate(-65px, -65px)
}
}
@-webkit-keyframes key-two {
50% {
-webkit-transform:translate(0, -65px)
}
}
@keyframes key-two {
50% {
transform:translate(0, -65px);
-webkit-transform:translate(0, -65px)
}
}
@-webkit-keyframes key-three {
50% {
-webkit-transform:translate(65px, -65px)
}
}
@keyframes key-three {
50% {
transform:translate(65px, -65px);
-webkit-transform:translate(65px, -65px)
}
}
@-webkit-keyframes key-four {
50% {
-webkit-transform:translate(65px, 0)
}
}
@keyframes key-four {
50% {
transform:translate(65px, 0);
-webkit-transform:translate(65px, 0)
}
}
@-webkit-keyframes key-five {
50% {
-webkit-transform:translate(65px, 65px)
}
}
@keyframes key-five {
50% {
transform:translate(65px, 65px);
-webkit-transform:translate(65px, 65px)
}
}
@-webkit-keyframes key-six {
50% {
-webkit-transform:translate(0, 65px)
}
}
@keyframes key-six {
50% {
transform:translate(0, 65px);
-webkit-transform:translate(0, 65px)
}
}
@-webkit-keyframes key-seven {
50% {
-webkit-transform:translate(-65px, 65px)
}
}
@keyframes key-seven {
50% {
transform:translate(-65px, 65px);
-webkit-transform:translate(-65px, 65px)
}
}
@-webkit-keyframes key-eight {
50% {
-webkit-transform:translate(-65px, 0)
}
}
@keyframes key-eight {
50% {
transform:translate(-65px, 0);
-webkit-transform:translate(-65px, 0)
}